# HTTP Settings
HTTP_PORT=80
HTTP_LISTEN=0.0.0.0

# Database Settings
TYPEORM_HOST="localhost"
TYPEORM_USERNAME="root"
TYPERORM_PASSWORD=
TYPEORM_DATABASE="heroic_tests"
TYPEORM_CONNECTION="mysql"
TYPEORM_SYNCHRONIZE=false
TYPEORM_LOGGING=false
TYPEORM_ENTITIES="src/**/entity/**/*.ts"
TYPEORM_MIGRATIONS="src/**/migration/**/*.ts"
TYPEORM_SUBSCRIBERS="src/**/subscriber/**/*.ts"
TYPEORM_ENTITIES_DIR="src/**/entity"
TYPEORM_MIGRATIONS_DIR="src/**/migration"
TYPEORM_SUBSCRIBERS_DIR="src/**/subscriber"
