.no-margin {
    margin: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

a {
    text-decoration: none !important;
}

.t-center {
    text-align: center !important;
}

.f-right {
    float: right !important;
}